---
video:
     hls_high:
          bitrate: 6500000 
          maxrate: 6800000 
          vf: "scale=1280:-2"
          resolution: "1280x720"
     hls_med:
          bitrate: 3500000
          maxrate: 3600000 
          vf: "scale=960:-2"
          resolution: "960x540"
     hls_low:
          r: 15 
          profile_v: baseline 
          level: 3.0 
          bitrate: 400000 
          maxrate: 420000 
          g: 45 
          segment_list_type: m3u8 
          vf: "scale=480:-2"
          codec_code: "mp4a.40.2,avc1.42001e"
          resolution: "480x360"
     default:
          r: 29.97 
          pix_fmt: yuv420p 
          vcodec: libx264
          acodec: aac
          profile_v: main 
          level: 3.1 
          codec_code: "mp4a.40.2,avc1.4d001f"
          segment_time: 9
          g: 90
          vf: "scale=960:-2" 
audio:
     hls_hd:
          bitrate: 128000
          maxrate: 140000
     hls:
          bitrate: 64000
          maxrate: 70000
     default:
          acodec: aac
          flags: "-f segment -global_header" 
          segment_time: 9
          segment_format: mpeg_ts 
          segment_list_type: m3u8 
          codec_code: "mp4a.40.2"
          resolution: 300x50
