.mejs-container {
    min-height: 30px;
    height:auto !important;
    
    .mejs-layers { padding-top:2em; }

    .mejs-playlist.mejs-layer  {
        position: relative !important;
        ul.mejs { margin-top:0px; !important}
    }
    
    .mejs-controls {
        bottom:auto;
        top:0;
    }
}
