/*
.mejs-container.hls-media.mejs-audio {
   height:auto !important;
}

.mejs-container.hls-media {
    clear:both;
    min-height: 30px;

    .mejs-layers { padding-top:2em; }

    .mejs-playlist.mejs-layer  {
        position: relative !important;
        ul.mejs { margin-top:0px !important;}
    }
    
    .mejs-controls {
        bottom:auto;
        top:0;
    }
}
*/
